<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MemoryGame2026.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F304988B2F0C82DF00FAE88E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F30498982F0C82E100FAE88E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F30498A22F0C82E100FAE88E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
