<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>pencil</string>
				<string>eraser</string>
				<string>scribble</string>
				<string>lasso</string>
			</array>
			<key>Title</key>
			<string>Game Image</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>Key</key>
			<string>curIndex</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>5</string>
				<string>6</string>
				<string>7</string>
			</array>
			<key>Values</key>
			<array>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>Title</key>
			<string>Row/cols</string>
			<key>Key</key>
			<string>value</string>
			<key>DefaultValue</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Bonus</string>
			<key>Key</key>
			<string>bonus</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
